
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>kendi oluşturduğumuz view sayfasıdır</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>serkan</td>
        <td>developer</td>
    </tr>
    <tr>
        <td>1</td>
        <td>asdasd</td>
        <td>sadsafgreyh</td>
    </tr>
</table>