
@{
    ViewData["Title"] = "BlogListExcelDynamic";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>BlogListExcelDynamic</h1>
<br />

<a href="/Admin/Blog/ExportDynamicExcelBlogList/" class="btn btn-primary">Export to Excel</a>
